body{
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #e7edee;
	line-height: 18px;
}
h1 {
	margin-left:5%;
	margin-top:18px;
}
.fullContainer {
	/*width:90%;*/
	margin-left:5%;
	margin-right:5%;
	padding:10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.imageWindow {
	width: 50%;
	margin:5px;
	float:left;
}

.imageWindow img {
	width: 100%;
}
.editTools {
	width: 45%;
	background-color:#eee;
    float:left;
	margin:5px;
	padding:10px;
}
.footer {
	clear:both;
}
