/* -------------------------------------------------------------------------------------- */
/* -----| STYLING FROM UPLOAD PAGE |----------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

body{
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #e7edee;
	width: 100%;
	line-height: 18px;
}
.headertitle {
	float:left;
	width: 44%;
	margin-left:5%;
}
.folderSelect {
	float: right;
	margin-right:5%;
	width: 10%;
	padding-top:10px;

}
.folderSelect .goButton{
	color: #eee;
	background: none repeat scroll 0 0 transparent;
	background-color: #012168;
	padding: 5px 10px;
	margin-left:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	display:inline;

}
.folderSelect .goButton:hover{
	background:#00A7E1;
	border: 1px solid #00A7E1;
	color: #fff;
	-webkit-transition:background 0.6s ease-in-out;
	-moz-transition:background 0.6s ease-in-out;
	transition:background-color 0.6s ease-in-out;
	cursor: pointer; 
	cursor: hand;
}

.fledit {
	color: #012168;
	background: none repeat scroll 0 0 transparent;
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin-top:5px;
	float:right;
}

.fledit:hover {
	background:#00A7E1;
	border: 1px solid #00A7E1;
	color: #fff;
	-webkit-transition:background 0.6s ease-in-out;
	-moz-transition:background 0.6s ease-in-out;
	transition:background-color 0.6s ease-in-out;
	cursor: pointer; 
	cursor: hand;
}

#galleryList li a.fldownload {
	color: #012168;
	text-decoration:none;
	padding: 4px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin-top:5px;
	float:left;
}

#galleryList li a.fldownload:hover {
	background:#00A7E1;
	border: 1px solid #00A7E1;
	color: #fff;
	-webkit-transition:background 0.6s ease-in-out;
	-moz-transition:background 0.6s ease-in-out;
	transition:background-color 0.6s ease-in-out;
}

/* -------------------------------------------------------------------------- */
/* -----| GALLERY LIST |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#galleryWrapper { 
	width:90%;
	margin-left:5%;
	margin-right:5%;
}


#galleryList {
    /*margin: 0;
	margin-left:5%;
	margin-right:5%;
    padding: 0 4px;*/
	padding:10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#galleryList li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 5px 6px;
    padding: 0;
}

#galleryList li a {
    background-color: #FFF;
    border: 1px solid #CCC;
    display: block;
    padding: 4px;
}

#galleryList li a:hover {
    border-color: #999;
}

#galleryList li a img {
    border: none;
}

/* -------------------------------------------------------------------------- */
/* -----| GALLERY FOOTER |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryFooter {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding: 3px;
}

#credit {
    float: right;
    font-size: 0.9em;
    margin: 4px 0;
}

#galleryFooter #credit a {
    color: #369;
}


/* ---------------------------------------- */
/* ----|  PAGINATION  |-------------------- */
/* ---------------------------------------- */

#galleryPagination {
    color: #369;
    float: left;
    font-size: .9em;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

#galleryPagination li {
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    float: left;
    list-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#galleryPagination li:hover {
    background-color: #EFEFEF;
    border: 1px solid #CCC;
}

#galleryPagination li.title {
    background: transparent url(../../page_white_stack.png) no-repeat left center;
    border: 1px solid transparent;
    font-weight: normal;
    padding: 3px 6px 3px 22px;
}

#galleryPagination li a, #galleryPagination li a:visited {
    color: #369;
    display: block;
    padding: 3px 6px;
    text-decoration: none;
}

#galleryPagination li.current {
    background-color: transparent;
    border: 1px solid transparent;
    color: #333;
    font-weight: bold;
    padding: 3px 6px;
}

#galleryPagination li.inactive {
    background-color: transparent;
    color: #ACACAC;
    border: 1px solid transparent;
    display: block;
    padding: 3px 6px;
}


/* ---------------------------------------- */
/* ----|  MISCELLANEOUS  |----------------- */
/* ---------------------------------------- */

/* --- CLEAR FIX --- */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1; /* IE6 */
}

*:first-child+html .clearfix {
    zoom: 1; /* IE7 */
}